<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test1" thread-count="1" parallel="instances" verbose="2">
	<listeners>
		<!-- <listener class-name="Logger.RetryListener" /> -->
		<!-- listener class-name="Logger.TestngListener" /> -->

		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
	</listeners>
	<test name="Test" preserve-order="true">
		<classes>
			<!-- class name="FactoryAndData.ExcelTest_Jiudian.CompareRecords" /> -->

			<class name="FactoryAndData.ExcelTest_Jiudian_MFWBill_OTABill.CompareRecords" />
			<class name="FactoryAndData.ExcelTest_Jiudian_MFWBill_OTABill.CompareContents" />


		</classes>
	</test>
</suite>
